@inherits LayoutComponentBase
<div class="row h-100">
    <div class="col-2 sidebar h-100">
        <SideBar />
    </div>

    <main>
        <article class="col-10 content px-4">
            @Body
        </article>
    </main>
</div>
