<div class="d-flex flex-column text-white h-100">
    <div class="p-3 d-flex my-0 justify-content-center">
        <h3 class="text-white">Menu</h3>
    </div>

    <hr class="w-75 my-1 mx-auto text-white opacity-75" />

    <nav class="flex-column">
        <div class="nav-item px-3 pb-2">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 pb-2">
            <NavLink class="nav-link text-white" href="/dashboard">
                <i class="bi bi-table"></i> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3 pb-2">
            <NavLink class="nav-link text-white" href="/cadastrar-livro">
                <i class="bi bi-box-seam"></i> Cadastro
            </NavLink>
        </div>
        <div class="nav-item px-3 pb-2">
            <NavLink class="nav-link text-white" href="lista-livros">
                <i class="bi bi-person"></i> Livros Lidos
            </NavLink>
        </div>
        <div class="nav-item px-3 pb-2">
            <NavLink class="nav-link text-white" href="/editar">
                <i class="bi bi-person"></i> Editar
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
