

<div class="d-flex flex-column text-white bg-dark h-100 ms-10">
    <h3 class="text-white">Menu</h3>
    <div>
        <div>
            <NavLink>f</NavLink>
        </div>
        <div>
            <NavLink>b</NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="/">a</NavLink>
        </div>
        <div>
            <NavLink>a</NavLink>
        </div>
    </div>
    
</div>

@code {

}
