@using BlazorWebAssemblyControleFinancas.Models


<div class="d-flex flex-column text-white bg-dark h-100 ms-10">
    <div class="p-3 d-flex my-0 justify-content-center">
        <h3 class="text-white">Menu</h3>
    </div>

    
    <hr class="w-75  my-1 mx-auto text-white opacity-75" />

    <div>
        <div class="ps-4 pb-3">
            <i class="bi bi-house"></i>
            <NavLink>Home</NavLink>
        </div>
        <div class="ps-4  pb-3">
            <i class="bi bi-table"></i>
            <NavLink>Dashboard</NavLink>
        </div>
        <div class="ps-4 pb-3">
            <i class="bi bi-box-seam"></i>
            <NavLink href="/cadastrar-livro">Cadastro</NavLink>
        </div>
        <div class="ps-4 pb-3">
            <i class="bi bi-person"></i>
            <NavLink>Produtos</NavLink>
        </div>
    </div>
    
</div>

@code {

}
